.main_header{
    padding-top: 56px;
}

.main_header__block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_header__list {
    display: flex;
    gap: 40px;
}

.main_header__link {
    color: rgb(36, 45, 82);
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    letter-spacing: 0px;
}
.main_header__btn{
    color: rgb(252, 246, 245);
font-size: 13px;
font-weight: 700;
line-height: 19px;
letter-spacing: 0px;
max-width: 137px;
padding: 12px 32px;
border-radius: 22px;
background-color:#f3603c;
border: none;
}
.main_header__menu{
width: 25px;
height: 18px;
background-image: url(/images/menu.svg);
border:none;
background-color: transparent;
}
.main_header__menu{
    display: none;
}

@media screen and (max-width:900px) {
    .main_header__list{
        display: none;
    }
    .main_header__btn{
        display: none;
    }
    .main_header__logo{
        max-width: 109px;
    }
    .main_header__menu{
        display: inline-block;
    }
}